<a href="https://colab.research.google.com/github/410601495/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

請計算0~50的基數和與偶數和

In [ ]:
i = 0
result = 0
while i <= 50:
  if i%2 == 0:
    result += i
  i+=1
print("0~50的偶數和結果是%d" % result)

0~50的偶數和結果是650

In [ ]:
i = 0
result = 0
while i <= 50:
  if i%2!=0:
    result += i
  i+=1
print("0~50的奇數和結果是%d" % result)

0~50的奇數和結果是625

In [ ]:
n = int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

數值1~100中，所有是3或是7倍數的數之總和

In [ ]:
sum=0
for i in range(0,101):
  if (i%3==0 or i%7==0):
    sum +=i
print("數值1~100中，所有是3或是7倍數的數之總和=",sum)

數值1~100中，所有是3或是7倍數的數之總和= 2208

In [ ]:
p=1
counter=0
n = int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while(p<=n):
  if(n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數1
1 的因數有 1
1 不是質數

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
[list1]

[[1, 2, 3, 4, 5]]

In [ ]:
list2 = ["香蕉","蘋果","橘子"]

In [ ]:
list2

['香蕉', '蘋果', '橘子']

In [ ]:
list3 = [1,"香蕉",True]

In [ ]:
list3

[1, '香蕉', True]

In [ ]:
print(list1[0])

1

In [ ]:
print(list1[1])

2

In [ ]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [ ]:
print(list2[1])

蘋果

In [ ]:
print(list2[0])
print(list2[1])
print(list2[2])

香蕉
蘋果
橘子

In [ ]:
print(list2[-1])

橘子

In [ ]:
print(list2[-2])

蘋果

In [ ]:
print(list2[-3])

香蕉

In [ ]:
list4 = [[["tom","1234"]],["mary","abcd"],["david","5678"]]

In [ ]:
print(list4[1])

['mary', 'abcd']

In [ ]:
print(list4[0])

[['tom', '1234']]

In [ ]:
print(list4[1][1])

abcd

In [ ]:
print(list4[0][0])

['tom', '1234']

In [ ]:
score = [85,79,93]
print("國文成績:%d分"%score[0])
print("數學成績:%d分"%score[1])
print("英文成績:%d分"%score[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [ ]:
list5 = [1,2,3,4,5]

In [ ]:
print(list5[0])

1

In [ ]:
list5[0] = 9

In [ ]:
print(list5[0])

9

In [ ]:
print(list5)

[9, 2, 3, 4, 5]

In [ ]:
list6 = ["香蕉","蘋果","橘子"]

In [ ]:
for s in list6:
  print(s,end= ",")

香蕉,蘋果,橘子,

In [ ]:
items = [123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [ ]:
scores = [85,79,93]

In [ ]:
print(len(scores))

3

In [ ]:
scores = [85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

用for...range迴圈讀取串列

In [ ]:
chinese = [85]
for i in range(len(chinese)):
  print("國文成績:",chinese[i],"分") 

math = [79]
for j in range(len(math)):
  print("數學成績:",math[j],"分") 

english = [93]
for k in range(len(english)):
  print("英文成績:",english[k],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [44]:
score = [85,79,93]
print("國文成績:%d分"%score[0])
print("數學成績:%d分"%score[1])
print("英文成績:%d分"%score[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [49]:
code = [1,2,3]
name = ['Tom','Mary','Tony']
for i in range(len(code)):
 for j in range(len(name)):
  print("編號:",code[i],"姓名:",name[j])

編號: 1 姓名: Tom
編號: 1 姓名: Mary
編號: 1 姓名: Tony
編號: 2 姓名: Tom
編號: 2 姓名: Mary
編號: 2 姓名: Tony
編號: 3 姓名: Tom
編號: 3 姓名: Mary
編號: 3 姓名: Tony

In [70]:
code = [1,2,3]
name = ['Tom','Mary','Tony']
for i in range(len(code)):
  print("編號:",code[i])
for j in range(len(name)):
  print("姓名:",name[j])

編號: 1
編號: 2
編號: 3
姓名: Tom
姓名: Mary
姓名: Tony

In [71]:
numbers = [1,2,3]
names = ["Tom","Mary","Tony"]
for s in range(len(names)):
  print("編號:",numbers[0],"姓名:",names[0])
  print("編號:",numbers[1],"姓名:",names[1])
  print("編號:",numbers[2],"姓名:",names[2])
  break

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony